.rot13 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.title {
  margin: 1rem auto;
}
.encodeBtn {
  margin: 1rem auto;
}
.textarea {
  background-color: white;
  width: 20vw;
  height: 15vh;
  margin: 1rem auto;
  vertical-align: top;
  padding: 1rem 2rem;
  box-shadow: 2px 2px 5px lightgray;
  border-radius: 50px;
  border: none;
  outline: none;
  font-family: monospace;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.btnCont {
  display: flex;
}
/* .btns {
  font-size: large;
} */
