body {
  text-align: center;
}
.guess {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}
.input {
  margin: 2rem auto;
}
