.blink {
  animation: blink ease-in-out 1s infinite;
  position: absolute;
  left: 0;
  right: 0;
  top: 40%;
  margin: auto;
}
.button {
  padding: 1rem 4rem;
  background-color: rgb(213, 255, 241);
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    color: blue;
  }
}
