body {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}
.titleCont {
  display: flex;
  align-items: center;
  justify-content: center;
}
.rps {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.imgCont {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 60%;
}
.imgDiv {
  height: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}
.img {
  width: 10vw;
  height: auto;
}
.imgDiv:hover {
  box-shadow: 2px 2px 5px lightgray;
  border-radius: 50px;
}
.nope {
  background-color: lightgray;
  border-radius: 50px;
  box-shadow: 2px 2px 10px lightgray;
}
.startBtn {
  margin: 0.5rem auto;
  border: none;
  padding: 0.5rem 2rem;
  border-radius: 50px;
  box-shadow: 2px 2px 5px lightgray;
  outline: none;
}
.nope2 {
  margin: 1rem auto;
  border: none;
  padding: 0.5rem 2rem;
  border-radius: 50px;
  box-shadow: 2px 2px 5px lightgray;
  outline: none;
}
.startBtn:hover {
  background-color: oldlace;
  box-shadow: 2px 2px 5px lightgray;
}
.livesCont {
  padding: 1rem 3rem;
  border-radius: 20px;
  box-shadow: 2px 2px 5px lightgray;
  width: 15vw;
  left: 0;
  right: 0;
  margin: 2rem auto 1rem;
}
.lives {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.message {
  margin: 0.5rem 0;
}
.chooses {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
