.converter {
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: center;
}
.input {
  width: 10vw;
  margin: 1rem auto;
  padding: 0.5rem 1.5rem;
  background-color: white;
  box-shadow: 2px 2px 5px lightgray;
  border-radius: 50px;
  text-align: center;
  font-size: 1rem;
}
.selectCont {
  display: flex;
  align-self: center;
  justify-content: center;
}
.select {
  margin: 1rem 1rem;
  padding: 0.6rem 1.2rem 0.6rem 1.5rem;
  border: none;
  outline: none;
  box-shadow: 2px 2px 5px lightgray;
  /* background: url(http://imgur.com/MJyZM.png) 0 0 no-repeat; */
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}
.select:hover {
  background-color: whitesmoke;
}
