.pointer {
  cursor: pointer;
}
.default {
  cursor: default;
}
.strong {
  font-weight: bold;
}
.main {
  background-color: aliceblue;
  width: 100vw;
  min-height: 100vh;
  box-sizing: border-box;
  padding: 5vh;
}
.mainflex {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 80vh;
}
.buttonsCont {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  box-sizing: border-box;
  margin: 0 0 2rem;
  padding: 0 10rem;
}
button {
  padding: 0.7rem 2rem;
  background-color: rgb(229, 255, 234);
  box-shadow: 2px 2px 5px lightgray;
  border-radius: 50px;
  border: none;
  outline: none;
  margin: 0 1rem;
}
button:hover {
  background-color: rgb(175, 238, 196);
}
.buttons {
  padding: 0.8rem 1rem;
  width: 12vw;
  height: 8vh;
}
input {
  padding: 0.7rem 2rem;
  box-shadow: 2px 2px 5px lightgray;
  border-radius: 50px;
  border: none;
  outline: none;
}
.title {
  margin: 1rem auto;
}
